.vscode
target/
.cargo/config.toml
Cargo.lock

__pycache__

/*ffmpeg/
/*package/

/*.zip
/*.tar
/*.tar.gz
/*.tar.bz
/*.tar.xz
/*.7z

!logo/**

/*.jpg
/*.jpeg
/*.png
/*.gif
/*.tiff
/*.tif
/*.bmp
/*.webp
/*.heif
/*.heic
/*.avif
/*.svg

/*.mp4
/*.mov
/*.avi
/*.wmv
/*.mkv
/*.flv
/*.webm
/*.mpeg

/*.wav
/*.aiff
/*.dsd
/*.mp3
/*.aac
/*.m4a
/*.ogg
/*.flac
/*.alac
/*.ape

/*.midi

/*.json
/*.jsonc
/*.jsonl
/*.log

.DS_Store
